/* body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #00293c;
	font-family: sans-serif;
}
 */
.button3D {
	position: absolute;
	width: 160px;
	height: 60px;
	transform-style: preserve-3d;
	transform: perspective(500px) rotateY(25deg);
	transition: 2s;
	margin-top: 45px;
}

.button3D:hover {
	transform: perspective(500px) rotateY(385deg);
}

.button3D span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	letter-spacing: 2px;
	color: #71cd14;
	text-transform: uppercase;
	box-sizing: border-box;
	background: #fff; 
}

.button3D span:nth-child(1) {
	transform: translateZ(20px);
	border-left: 6px solid #71cd14;
	border-right: 6px solid #71cd14;
}

.button3D span:nth-child(4) {
	transform: translateZ(-20px);
	border-left: 6px solid #71cd14;
	border-right: 6px solid #71cd14;
}

.button3D span:nth-child(2),
.button3D span:nth-child(3) {
		width: 40px;
		height: 100%;
		background: #71cd14;
}

.button3D span:nth-child(2) {
	transform: rotateY(90deg) translateZ(140px);
}

.button3D span:nth-child(3) {
	transform: rotateY(90deg) translateZ(-20px);
}




















